@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Header*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    top:0;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    color: black;
    position: sticky;
    z-index: 999;
   
}

.sticky{
    transition: ease 1s;
    border-bottom: 1px solid black;
    box-shadow: 0.5px 0.5px 13px 0.5px rgba(0, 0, 0, 0.329);
    background-color: white;
}

.right__header{
    display: flex;
    
}

.left__header{
    margin-right: 600px;
}

.right__header > h4{
    margin-left: 40px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bolder;
}
.right__header > h4:hover{
    
}

.logo{
    font-size: 20px;
    font-family: 'Rock Salt', cursive;
}
/*Header*/


/*Section*/
.principal{
    background-color: white;
    display: flex;
    margin-top: 125px;
    margin-bottom: 30px;
}
.main__text{
    background-color: rgb(255, 255, 255);
    flex:0.4;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 250px;
}

.main__text > h2{
    font-size: 80px;
}
.main__text > h3{
    font-size: 60px;
    font-weight: lighter;
}

.main__text > button{
    font-size: 30px;
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px 30px 10px 30px ;
    background-color: transparent;
}

.main__text > button:hover{
    transition: ease 1s;
    background-color: black;
    color: white;
}

.image{
    margin-right: 200px;
    flex: 0.6;
}

.image > img{
    object-fit: contain;
    margin-top: -10%;
    height:100%;
    width: 100%;
    transform: rotate(0deg);
    filter: drop-shadow(1px 30px 20px #000000);
}


.circle{
    position: absolute;
    margin-top: 0%;
    margin-left: 8%;
    height: 525px;
    width: 525px;
    background-color: rgba(0, 0, 0, 0.767);
    border-radius: 50%;
    display: inline-block;
}
/*Section*/



/*article*/

.new__articles{
    margin-top: 150px;
    margin-bottom: 300px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.new__articleItem{
    height: 300px;
    flex:0.3;
    border:1px solid black;
    margin-left: 10px;
}

.new__articleItem > img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.text__article{
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
}

/*new article*/


/*Categories*/
.categories{
    margin-top: -50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}

.category1{
    flex: 0.4;
    border: 1px solid black;
    align-items: center;
    height: 600px;
}

.category1 > img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/*Categories*/



/*footer*/
.footer{
    background-color: black;
}


/*footer*/